@import url('https://fonts.googleapis.com/css?family=Cutive+Mono|Raleway&display=swap');

body {
    margin: 0;
    background-color: #2C2F33;
    font-family: Raleway, sans-serif;
    padding-right: 15%;
    padding-left: 15%;
}

h1, h2, p, li, th, td {
    color: white;
    margin: 0;
}

h1 {
    font-size: 50px;
}

a {
    color: #7289DA;
}

#title {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#title-text{
    display: flex;
    font-size: 50px;
    margin-right: 25px;
}

#title-text h1{
    font-size: 100px;
}

#header {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10vh;
}

.monospaced {
    font-family: 'Cutive Mono', monospace;
    font-size: 18px;
    background: #393c40;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.section {
    padding-bottom: 50vh;
}

table {
    border-collapse: collapse;
}

th {
    border-bottom: 1px solid white;
    text-align: left;
}

td {
    padding-right: 50px;
}

.collapse {
    cursor: pointer;
    text-decoration: underline;
}
.hidden {
    display: none;
}

.padding td {
    padding-bottom: 10px;
}
